/* css cho nàn hình loptop*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}
body{
    background-color: blue;
    width: 100%;
    height: 100vh;
}
.digital{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1.5fr 1fr;
    gap: 15px;
    margin: 15px;
}
.item{
    background-color: white;
}
.goals{
    grid-column: 1/3;
    box-sizing: border-box;
}
.Scope{
    grid-column: 1/3;
    grid-row: 2/3;
}
.Team{
    grid-column: 3/4;
}
.Timeline{
    grid-column: 4/5;
    grid-row: 1/3;
}
.item h2{
    color: blue;
    padding: 15px 0;
    margin: 0 15px;
    border-bottom: 2px solid grey;
}
/* phần goals*/
table{
    width: 95%;
    margin: 15px;
    border-collapse: collapse;
    margin-right: 20px;
    
}
tr{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
.td1{
    width: 15%;
    text-align: center;
}
.td2{
    padding-bottom: 10px;
    padding-top: 10px;
}
/* phần scope*/
.col{
    width: 100%;
    float: left;
    padding: 15px 25px;
}
.col-right,
.col-left{
    width: 50%;
    float: left;
    padding-right:25px;
}
.col h3{
    padding-bottom: 20px;
}
.col p{
    padding-bottom: 10px;
}
/* phần team*/
.members{
    width: 100%;
    padding: 10px 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.images{
    width: 30%;
    text-align: center;
}
.images svg{
    width: 50px;
    height: 50px;
}
.name p{
    padding-bottom: 5px;
}
/* phần primary */
.primary-1{
    max-width: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
}
.icon{
    width: 30%;
    text-align: center;
}
.icon svg{
    width: 35px;
    height: 35px;
}
.content{
    width: 70%;
    padding-right: 10px;
}
/* phần timeline*/
.time{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    gap: 10px;
}
.number{
    width: 25%;
    height: 80px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.number p{
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid black;
    border-radius: 25px;
    font-size: 20px;
    background-color: blueviolet;
    color: white;
}
.project-start{
    width: 100%;
}
.project-start p{
    padding-top: 5px;
    border-bottom: 1px dashed blue;
    padding-bottom: 8px;
}
/* css cho mobile*/
@media only screen and (max-width:768px){
    .digital{
        display: flex;
        flex-direction: column;
        width: 94%;
        margin: 3%;
    }
    /* phần goals*/
    .td1{
        width: 100%;
        text-align: center;
        display: block;
    }
    .td1 svg{
        width: 15%;
    }
    .td2{
        width: 100%;
        text-align: left;
        display: block;
        padding: 10px 20px;
    }
    table{
        width: 90%;
    }
    /* phần scope*/
    .col{
        display: flex;
        flex-direction: column;
    }
    .col-left,
    .col-right{
        width: 100%;
        padding-bottom: 15px;
    }
    /* phần item*/
    .members{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .name{
        width: 100%;
        padding: 10px 40px;
    }
    /* phần primary */
    .primary-1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .icon{
        text-align: center;
        width: 15%;
    }
    .content{
        width: 100%;
        padding: 10px 5%;
    }
    /* phần timeline*/
    .time{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: left;
    }
    .number{
        margin-bottom: -30px;
    }
    .project-start{
        margin-left: 15px;
    }
    .project-start h4{
        padding-bottom: 8px;
    }
    .project-start p{
        width: 94%;
        margin-right: 3;
    }
}
@media only screen and (min-width:768px) and (max-width:992px){
    .digital{
        display: flex;
        flex-direction: column;
        margin: 3%;
    }
     /* phần goals*/
     .td1{
        width: 100%;
        text-align: center;
        display: block;
    }
    .td1 svg{
        width: 5%;
    }
    .td2{
        width: 100%;
        text-align: left;
        display: block;
        padding: 10px 20px;
    }
    table{
        width: 90%;
    }
    /* phần scope*/
    .col{
        display: flex;
        flex-direction: column;
    }
    .col-left,
    .col-right{
        width: 100%;
        padding-bottom: 15px;
    }
    /* phần item*/
    .members{
        display: flex;
        flex-direction: column;
        justify-content: start;
    }
    .name{
        width: 100%;
        padding: 10px 40px;
    }
    /* phần primary */
    .primary-1{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .icon{
        text-align: center;
        width: 15%;
    }
    .content{
        width: 100%;
        padding: 10px 5%;
    }
    /* phần timeline*/
    .time{
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: left;
    }
    .number{
        margin-bottom: -30px;
        margin-left: -7%;
    }
    .project-start{
        margin-left: 3%;
    }
    .project-start h4{
        padding-bottom: 8px;
    }
    .project-start p{
        width: 94%;
        margin-right: 3;
    }
}
/* end*/